body { background-color: #88A6DC;}

#contenedor {width: 100%;   background-color:#275096; text-align:center; margin: 0 auto 0 auto; align:center}
#cabecera {width:100%; height:50%; background-color:#FFFFFF; text-align:center; overflow:hidden; padding: 0px 0px 0px 0px; margin: 0 auto 1% auto}
#cuerpo {width: 100%; height:45%; margin: 0px auto 0px auto; background-color: #275096; overflow: hidden; }
#izquierda {float: left; width: 30%; height:100%; background-color:#0E3475; text-align: center; }
#centro {float: left; width: 38%; height:100%; margin: 0px 0px 0px 1%; background-color:#0855D9; text-align: justify; }
#derecha {float: left; width: 30%; height:100%; margin: 0px 0px 0px 1%; background-color: #0E3475; text-align: center; }
#pie_pagina {background-color:#CDE8F3; margin: 1% 0 0 0; padding: 0 0 0 0px; text-align:center; clear: both; color:#0E3475 ; font: 8pt Verdana;} 
#presentacion {width: 75%; background-color:#275096; margin: 0px auto 0px auto; overflow: hidden;}


#texto_1 {align:center; valign:center; color:#CDE8F3; text-align:center}

/*Estilos extra para inicio_observador*/
#cabecera_ob {width:100%; height:70px; background-color:#FFFFFF; text-align:center; overflow:hidden; padding: 0px 0px 0px 0px; margin: 0 auto 1% auto}
#opciones_ob {width:100%; height:40px; background-color:#88A6DC; overflow:hidden; padding: 0px 0px 0px 0px; margin: 0 auto 1% auto}
#cuerpo_ob {width: 100%; /*height:45%;*/ margin: 0px auto 0px auto; overflow: hidden;}
.boton_menu {float:left; height:30px; width:140px}
	/*Estilos para presentacion de tablas*/
	.registros_tabla {background-color:#CDE8F3; text-align:center; color:#173872;}
	.encabezado_tabla {background-color:#173872; text-align:center; color:#FFFFFF; font-weight:bold }
	.informacion_extra {background-color:#0B4756; text-align:center; color:#FFFFFF; valign:top; align:center;}
	.datos_extra {background-color:#9AD7E6; text-align:center; color:#173872; valign:top; align:center;}
	.datos_extra_2 {background-color:#00BFFF; text-align:center; color:#173872; valign:top; align:center;}
	/*Tablas de asistencia*/
	.datos_no_asistio {background-color:#FF0000; text-align:center; color:#FFFFFF; valign:top; align:center;}
	.datos_puntual {background-color:#32CD32; text-align:center; color:#FFFFFF; valign:top; align:center;}
	.datos_tarde {background-color:#B8860B; text-align:center; color:#FFFFFF; valign:top; align:center;}
	.datos_injustificado {background-color:#FFA500; text-align:center; color:#FFFFFF; valign:top; align:center;}
	.datos_asistencia {background-color:#FFFFFF; text-align:center; color:#173872; valign:top; align:center;}
	/*Tabla de deudas*/
	.datos_no_pago {background-color:#FF0000; text-align:center; color:#FFFFFF; valign:top; align:center;}
	.datos_debe {background-color:#FFA500; text-align:center; color:#FFFFFF; valign:top; align:center;}
	.datos_pago {background-color:#32CD32; text-align:center; color:#FFFFFF; valign:top; align:center;}
	.datos_deuda {background-color:#FFFFFF; text-align:center; color:#173872; valign:top; align:center;}
	/*Texto vertical*/
	.rotate {-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }
	

/*Estilos extra para tareas*/


#menu_tr {width: 200px; background-color:#88A6DC; margin: 0px auto 0px auto; overflow: hidden;float:left;}
#titulo_tr {width:100%;height:45px; background-color:#FFFFFF; color:#275096;}
/*#contenido {width:100%; background-color:#CDE8F3;}*/
	/*Clases para tareas*/
	.boton_menu_tr {width:200px}
