#tabla1_encabezado {background-color:#173872; text-align:center; color:#FFFFFF; font-weight:bold }
#tabla1_informacion {background-color:#CDE8F3; text-align:center; color:#173872;}

#tabla2_encabezado {background-color:#0B4756; text-align:center; color:#FFFFFF; valign:top; align:center;}
#tabla2_informacion {background-color:#9AD7E6; text-align:center; color:#173872; valign:top; align:center;}